openapi: 3.0.0
info:
  title: HTMI Unkhair Backend API
  description: Endpoint definitions for HTMI Unkhair backend API
  version: 2.1.1
servers:
  - url: https://backend-web.htmi-unkhair.my.id/api
    description: HMTI Unkhair API server

paths:
  /api/sejarah-filosofi:
    get:
      summary: Get sejarah and filosofi
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  sejarah:
                    type: object
                    properties:
                      id:
                        type: integer
                      judul:
                        type: string
                      konten:
                        type: string
                      gambar:
                        type: string
                  filosofi:
                    type: object
                    properties:
                      id:
                        type: integer
                      judul:
                        type: string
                      konten:
                        type: string
                      gambar:
                        type: string

  /api/visi-misi-tujuan:
    get:
      summary: Get visi, misi, and tujuan
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  visi:
                    type: object
                    properties:
                      id:
                        type: integer
                      judul:
                        type: string
                      konten:
                        type: string
                      gambar:
                        type: string
                  misi:
                    type: object
                    properties:
                      id:
                        type: integer
                      judul:
                        type: string
                      konten:
                        type: string
                      gambar:
                        type: string
                  tujuan:
                    type: object
                    properties:
                      id:
                        type: integer
                      judul:
                        type: string
                      konten:
                        type: string
                      gambar:
                        type: string

  /api/struktur:
    get:
      summary: Get struktur pengurus
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  pengurus:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        nama:
                          type: string
                        foto:
                          type: string
                        bidang:
                          type: string
                        jabatan:
                          type: string

  /api/semua-berita:
    get:
      summary: Get semua berita
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    judul:
                      type: string
                    slug:
                      type: string
                    excerp:
                      type: string
                    konten:
                      type: string
                    dibaca:
                      type: integer
                    gambar:
                      type: string
                    penulis:
                      type: string
                    kategori_id:
                      type: integer
                    created_at:
                      type: string
                    kategori:
                      type: object
                      properties:
                        id:
                          type: integer
                        judul_kategori:
                          type: string
                        slug:
                          type: string

  /api/berita/{slug}:
    get:
      summary: Get detail berita by slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  judul:
                    type: string
                  slug:
                    type: string
                  excerp:
                    type: string
                  konten:
                    type: string
                  dibaca:
                    type: integer
                  gambar:
                    type: string
                  penulis:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  kategori_id:
                    type: integer
                  kategori:
                    type: object
                    properties:
                      id:
                        type: integer
                      judul_kategori:
                        type: string
                      slug:
                        type: string

  /api/kategori/{slug}/berita:
    get:
      summary: Get berita by kategori slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    judul:
                      type: string
                    slug:
                      type: string
                    excerp:
                      type: string
                    konten:
                      type: string
                    dibaca:
                      type: integer
                    gambar:
                      type: string
                    penulis:
                      type: string
                    kategori_id:
                      type: integer
                    created_at:
                      type: string
                    kategori:
                      type: object
                      properties:
                        id:
                          type: integer
                        judul_kategori:
                          type: string
                        slug:
                          type: string

  /api/kategori-berita:
    get:
      summary: Get kategori berita
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    judul_kategori:
                      type: string
                    slug:
                      type: string

  /api/semua-projects:
    get:
      summary: Get semua projects
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    judul:
                      type: string
                    slug:
                      type: string
                    excerp:
                      type: string
                    konten:
                      type: string
                    gambar_utama:
                      type: string
                    gambar1:
                      type: string
                    gambar2:
                      type: string
                    gambar3:
                      type: string
                    gambar4:
                      type: string
                    gambar5:
                      type: string
                    pembuat:
                      type: string
                    created_at:
                      type: string
                    kategori_id:
                      type: integer
                    kategori:
                      type: object
                      properties:
                        id:
                          type: integer
                        judul_kategori:
                          type: string
                        slug:
                          type: string

  /api/kategori-projects:
    get:
      summary: Get kategori projects
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    judul_kategori:
                      type: string
                    slug:
                      type: string

  /api/project/{slug}:
    get:
      summary: Get detail project by slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  judul:
                    type: string
                  slug:
                    type: string
                  excerp:
                    type: string
                  konten:
                    type: string
                  gambar_utama:
                    type: string
                  gambar1:
                    type: string
                  gambar2:
                    type: string
                  gambar3:
                    type: string
                  gambar4:
                    type: string
                  gambar5:
                    type: string
                  pembuat:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  kategori_id:
                    type: integer
                  kategori:
                    type: object
                    properties:
                      id:
                        type: integer
                      judul_kategori:
                        type: string
                      slug:
                        type: string

  /api/kategori/{slug}/projects:
    get:
      summary: Get projects by kategori slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    judul:
                      type: string
                    slug:
                      type: string
                    excerp:
                      type: string
                    konten:
                      type: string
                    gambar_utama:
                      type: string
                    gambar1:
                      type: string
                    gambar2:
                      type: string
                    gambar3:
                      type: string
                    gambar4:
                      type: string
                    gambar5:
                      type: string
                    pembuat:
                      type: string
                    created_at:
                      type: string
                    kategori_id:
                      type: integer
                    kategori:
                      type: object
                      properties:
                        id:
                          type: integer
                        judul_kategori:
                          type: string
                        slug:
                          type: string

  /api/galeri-tampilkan:
    get:
      summary: Get galeri yang ingin ditampilkan pada banner
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    gambar:
                      type: string
                    tampilkan:
                      type: integer
                    created_at:
                      type: string

  /api/galeri-terbaru:
    get:
      summary: Get galeri dengan foto paling baru
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    gambar:
                      type: string
                    tampilkan:
                      type: integer
                    created_at:
                      type: string

  /api/galeri-terlama:
    get:
      summary: Get galeri dengan foto paling lama
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    gambar:
                      type: string
                    tampilkan:
                      type: integer
                    created_at:
                      type: string

  /api/kontak:
    post:
      summary: Mengirimkan pesan kontak
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nama:
                  type: string
                email:
                  type: string
                subject:
                  type: string
                pesan:
                  type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  kontak:
                    type: object
                    properties:
                      nama:
                        type: string
                      email:
                        type: string
                      subject:
                        type: string
                      pesan:
                        type: string
                      updated_at:
                        type: string
                      created_at:
                        type: string
                      id:
                        type: integer

  /api/event:
    get:
      summary: Get daftar event
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    nama:
                      type: string
                    url:
                      type: string
