openapi: 3.0.0
info:
  title: HTMI Unkhair Backend API
  description: Endpoint definitions for HTMI Unkhair backend API
  version: 1.1.3
servers:
  - url: https://backend-web.htmi-unkhair.my.id/api
    description: HMTI Unkhair API server

paths:
  /sejarah-filosofi:
    get:
      summary: Get sejarah and filosofi
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  sejarah:
                    type: object
                    properties:
                      id:
                        type: integer
                      judul:
                        type: string
                      konten:
                        type: string
                      gambar:
                        type: string
                  filosofi:
                    type: object
                    properties:
                      id:
                        type: integer
                      judul:
                        type: string
                      konten:
                        type: string
                      gambar:
                        type: string

  /visi-misi-tujuan:
    get:
      summary: Get visi, misi, and tujuan
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  visi:
                    type: object
                    properties:
                      id:
                        type: integer
                      judul:
                        type: string
                      konten:
                        type: string
                      gambar:
                        type: string
                  misi:
                    type: object
                    properties:
                      id:
                        type: integer
                      judul:
                        type: string
                      konten:
                        type: string
                      gambar:
                        type: string
                  tujuan:
                    type: object
                    properties:
                      id:
                        type: integer
                      judul:
                        type: string
                      konten:
                        type: string
                      gambar:
                        type: string

  /struktur:
    get:
      summary: Get Struktur Pengurus
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  ketum:
                    type: object
                    nullable: true
                    properties:
                      nama:
                        type: string
                        example: "s"
                      foto:
                        type: string
                        example: "fotoPengurus/0zqT0BBmKVUOWgyBLQZcuSt4jHZH9pd4FDdyoAVp.jpg"
                  sekum:
                    type: object
                    nullable: true
                    properties:
                      nama:
                        type: string
                        example: "Sekum Kontol"
                      foto:
                        type: string
                        example: "fotoPengurus/wHCn5tAXOmusyTLjjWkLSP6QU5JoAyXhEh2jK2mG.jpg"
                  bendum:
                    type: object
                    nullable: true
                    properties:
                      nama:
                        type: string
                        nullable: true
                      foto:
                        type: string
                        nullable: true
                  bidang:
                    type: array
                    items:
                      type: object
                      properties:
                        nama_bidang:
                          type: string
                          example: "Penggerak Aparatur Organisasi (P.A.O)"
                        singkatan:
                          type: string
                          nullable: true
                          example: null
                        kabid:
                          type: object
                          nullable: true
                          properties:
                            nama:
                              type: string
                              example: "Wahyu Cogan"
                            foto:
                              type: string
                              example: "fotoPengurus/yIvt4kcjQ2XWDAIeABTQVgaq34uvDL0ns1yp9W7Z.jpg"
                        sekbid:
                          type: object
                          nullable: true
                          properties:
                            nama:
                              type: string
                              nullable: true
                            foto:
                              type: string
                              nullable: true
                        anggota:
                          type: array
                          items:
                            type: object
                            properties:
                              nama:
                                type: string
                              foto:
                                type: string
                          example: []

  /semua-berita:
    get:
      summary: Get semua berita
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    judul:
                      type: string
                    slug:
                      type: string
                    excerp:
                      type: string
                    konten:
                      type: string
                    dibaca:
                      type: integer
                    gambar:
                      type: string
                    penulis:
                      type: string
                    kategori_id:
                      type: integer
                    created_at:
                      type: string
                    kategori:
                      type: object
                      properties:
                        id:
                          type: integer
                        judul_kategori:
                          type: string
                        slug:
                          type: string

  /berita/{slug}:
    get:
      summary: Get detail berita by slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  judul:
                    type: string
                  slug:
                    type: string
                  excerp:
                    type: string
                  konten:
                    type: string
                  dibaca:
                    type: integer
                  gambar:
                    type: string
                  penulis:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  kategori_id:
                    type: integer
                  kategori:
                    type: object
                    properties:
                      id:
                        type: integer
                      judul_kategori:
                        type: string
                      slug:
                        type: string

  /kategori/{slug}/berita:
    get:
      summary: Get berita by kategori slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    judul:
                      type: string
                    slug:
                      type: string
                    excerp:
                      type: string
                    konten:
                      type: string
                    dibaca:
                      type: integer
                    gambar:
                      type: string
                    penulis:
                      type: string
                    kategori_id:
                      type: integer
                    created_at:
                      type: string
                    kategori:
                      type: object
                      properties:
                        id:
                          type: integer
                        judul_kategori:
                          type: string
                        slug:
                          type: string
  /search:
    get:
      summary: Cari berita berdasarkan kata kunci
      parameters:
        - name: cari
          in: query
          required: true
          schema:
            type: string
          description: Kata kunci untuk mencari berita
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    judul:
                      type: string
                    slug:
                      type: string
                    excerp:
                      type: string
                    konten:
                      type: string
                    dibaca:
                      type: integer
                    gambar:
                      type: string
                    penulis:
                      type: string
                    created_at:
                      type: string
                      format: date-time
                    updated_at:
                      type: string
                      format: date-time
                    kategori_id:
                      type: integer
                    kategori:
                      type: object
                      properties:
                        id:
                          type: integer
                        judul_kategori:
                          type: string
                        slug:
                          type: string
                        created_at:
                          type: string
                          format: date-time
                        updated_at:
                          type: string
                          format: date-time


  /kategori-berita:
    get:
      summary: Get kategori berita
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    judul_kategori:
                      type: string
                    slug:
                      type: string

  /semua-projects:
    get:
      summary: Get semua projects
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    judul:
                      type: string
                    slug:
                      type: string
                    excerp:
                      type: string
                    konten:
                      type: string
                    gambar_utama:
                      type: string
                    gambar1:
                      type: string
                    gambar2:
                      type: string
                    gambar3:
                      type: string
                    gambar4:
                      type: string
                    gambar5:
                      type: string
                    pembuat:
                      type: string
                    created_at:
                      type: string
                    kategori_id:
                      type: integer
                    kategori:
                      type: object
                      properties:
                        id:
                          type: integer
                        judul_kategori:
                          type: string
                        slug:
                          type: string

  /kategori-projects:
    get:
      summary: Get kategori projects
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    judul_kategori:
                      type: string
                    slug:
                      type: string

  /project/{slug}:
    get:
      summary: Get detail project by slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  judul:
                    type: string
                  slug:
                    type: string
                  excerp:
                    type: string
                  konten:
                    type: string
                  gambar_utama:
                    type: string
                  gambar1:
                    type: string
                  gambar2:
                    type: string
                  gambar3:
                    type: string
                  gambar4:
                    type: string
                  gambar5:
                    type: string
                  pembuat:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  kategori_id:
                    type: integer
                  kategori:
                    type: object
                    properties:
                      id:
                        type: integer
                      judul_kategori:
                        type: string
                      slug:
                        type: string

  /kategori/{slug}/projects:
    get:
      summary: Munculkan Data project berdasarkan kategori
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    judul:
                      type: string
                    slug:
                      type: string
                    excerp:
                      type: string
                    konten:
                      type: string
                    gambar_utama:
                      type: string
                    gambar1:
                      type: string
                    gambar2:
                      type: string
                    gambar3:
                      type: string
                    gambar4:
                      type: string
                    gambar5:
                      type: string
                    pembuat:
                      type: string
                    created_at:
                      type: string
                    kategori_id:
                      type: integer
                    kategori:
                      type: object
                      properties:
                        id:
                          type: integer
                        judul_kategori:
                          type: string
                        slug:
                          type: string

  /galeri-tampilkan:
    get:
      summary: Get galeri yang ingin ditampilkan pada banner
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    gambar:
                      type: string
                    tampilkan:
                      type: integer
                    created_at:
                      type: string

  /galeri-terbaru:
    get:
      summary: Get galeri dengan foto paling baru
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    gambar:
                      type: string
                    tampilkan:
                      type: integer
                    created_at:
                      type: string

  /galeri-terlama:
    get:
      summary: Get galeri dengan foto paling lama
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    gambar:
                      type: string
                    tampilkan:
                      type: integer
                    created_at:
                      type: string

  /kontak:
    post:
      summary: Mengirimkan pesan kontak
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nama:
                  type: string
                email:
                  type: string
                subject:
                  type: string
                pesan:
                  type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  kontak:
                    type: object
                    properties:
                      nama:
                        type: string
                      email:
                        type: string
                      subject:
                        type: string
                      pesan:
                        type: string
                      updated_at:
                        type: string
                      created_at:
                        type: string
                      id:
                        type: integer

  /event:
    get:
      summary: Get daftar event
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    nama:
                      type: string
                    url:
                      type: string
  
  /beranda:
    get:
      summary: Get Data Beranda
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  berita:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        judul:
                          type: string
                        slug:
                          type: string
                        excerp:
                          type: string
                        konten:
                          type: string
                        dibaca:
                          type: integer
                        gambar:
                          type: string
                        penulis:
                          type: string
                        created_at:
                          type: string
                          format: date-time
                        updated_at:
                          type: string
                          format: date-time
                        kategori_id:
                          type: integer
                        kategori:
                          type: object
                          properties:
                            id:
                              type: integer
                            judul_kategori:
                              type: string
                            slug:
                              type: string
                            created_at:
                              type: string
                              format: date-time
                            updated_at:
                              type: string
                              format: date-time
                  galeri:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        gambar:
                          type: string
                        tampilkan:
                          type: integer
                        created_at:
                          type: string
                          format: date-time
                        updated_at:
                          type: string
                          format: date-time
                  partners:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        nama:
                          type: string
                        logo:
                          type: string
                        created_at:
                          type: string
                          format: date-time
                        updated_at:
                          type: string
                          format: date-time

  /partners:
    get:
      summary: Get daftar partners
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    nama:
                      type: string
                    logo:
                      type: string
